@page
@model IskoWalk.Pages.IndexModel
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-wrapper">

    <div class="left-panel">
        <img src="/images/IskoWalk.png" class="logo" />
        <p>No Isko Walks Alone.</p>
    </div>

    <div class="right-panel">
        <h2>Welcome Back!</h2>
        <p>Sign in to your account to continue.</p>

        <input placeholder="PUP Webmail" />
        <input placeholder="Password" type="password" />

        <button class="btn-main">Login</button>

        <p class="small">Don't have an account? <a href="/Signup">Sign up</a></p>
    </div>

</div>
