@page
@model IskoWalk.Pages.SignupModel
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-wrapper">

    @* LOGO *@
    <div class="left-panel">
        <img src="/images/IskoWalk.png" class="logo" />
        <p>No Isko Walks Alone.</p>
    </div>

    @* SIGNUP *@
    <div class="right-panel">
        <div class="form-header">
            <h2>Create An Account</h2>
            <p>Join the community with your PUP Email to get started.</p>
        </div>

        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email Address" />
        <input type="number" placeholder="Contact Number" />
        <input type="password" placeholder="Password" />

        <button class="btn-main">Sign Up</button>

        <p class="small">
            Already have an account?
            <a asp-page="/Index" class="link">Login</a>
        </p>
    </div>

</div>
