html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.login-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-panel {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 8px 0 20px rgba(0,0,0,0.08);
}

    .left-panel img {
        width: 230px;
    }

    .left-panel p {
        margin-top: 10px;
        color: #7a0000;
        font-weight: 500;
    }

.right-panel {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #8b0000;
    color: white;
}

    .right-panel h2 {
        font-size: 34px;
        margin-bottom: 5px;
    }

    .right-panel p {
        margin-bottom: 25px;
    }

    .right-panel input {
        width: 100%;
        padding: 14px;
        border-radius: 25px;
        border: none;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .right-panel > * {
        width: 100%;
        max-width: 420px;
    }

    .right-content {
        width: 100%;
        max-width: 420px;
        padding: 0 60px;
    }


.btn-main {
    margin-top: 10px;
    padding: 14px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    background: white;
    color: #8b0000;
    font-weight: 600;
}

.link {
    color: #ffd6d6;
    text-decoration: none;
    font-weight: 500;
}

    .link:hover {
        text-decoration: underline;
    }

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.small {
    margin-top: 15px;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

