html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-panel {
    height: 100vh;
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .left-panel img {
        width: 230px;
    }

    .left-panel p {
        margin-top: 10px;
        color: #7a0000;
        font-weight: 500;
    }

.right-panel {
    height: 100vh;
    width: 50%;
    background: #8b0000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

    .right-panel h2 {
        font-size: 34px;
        margin-bottom: 5px;
    }

    .right-panel p {
        margin-bottom: 25px;
    }

    .right-panel input {
        width: 100%;
        padding: 14px;
        border-radius: 25px;
        border: none;
        margin-bottom: 15px;
        font-size: 15px;
    }

    .right-panel > * {
        max-width: 420px;
    }

.btn-main {
    margin-top: 10px;
    padding: 14px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.small {
    margin-top: 15px;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

